.portfolio-page {
    margin-top: 100px;
    padding: 40px;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    background-color: aqua;
    display: block;
}

// canvas {
//     height: 100vh;
//     align-items: center;
//     justify-content: center;
// }
