.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: visible;
}
.container {
    margin-left: 100px;
    margin-top: 50px;
}

.cube-spinner {
    animation-name: cubesquare;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: .9s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        font-size: 100px;
        position: absolute;
        text-align: center;
        width: 200px;
        height: 200px;
        border: 3px solid #0090d4;
        background: rgba(81, 9, 109, .6);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        &:hover {
            box-shadow: 0 0 50px 0px #00ffc399;
        }

    }

    a {
        cursor: pointer;
    }

    .react {
        transform: translateZ(100px);
    }
    .html5 {
        transform: rotateY(90deg) rotateZ(-90deg) translateZ(100px);
    }
    .css3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .nodejs {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .javaScript {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .git {
        transform: rotateX(-90deg) translateZ(100px);
    }
}

@keyframes cubesquare {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.5);
    }
    16% {
        transform: rotateY(-90deg) rotateZ(90deg) scale(.6);
        width: 90%;
    }
    33% {
        transform: rotateY(-90deg) rotateX(90deg) scale(1.4);
        width: 40%;
        margin-left: 2vw;
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg) scale(.8);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg) scale(1.2);
    }
    83% {
        transform: rotateX(90deg) scale(1.4);
    }
}

@media screen and (max-width: 1200px) {
    .stage-cube-cont {
        position: initial;
        width: 70%;
        height: 100vh;
        overflow: visible;
        margin-left: 60px;
    }
}