.container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .contact-form {
        margin-top: 35px;
        width: 100%;
        height: auto;
        float: left;

        ul {
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 10px;
                overflow: hidden;
                display: block;
                position: relative;
                opacity: 0;
                animation: fadeInUp 2s 2s;
                animation-fill-mode: forwards;
                clear: both;
            }

            li.half {
                width: 49%;
                margin-left: 2%;
                float: left;
                clear: none;

                &:first-child {
                    margin-left: 0;
                }
            }

            input[type=text],
            input[type=email] {
                width: 100%;
                width: calc(100% - 2px);
                border: 1px solid #0090d4;
                outline: none;
                background: rgba(21, 3, 29, 0.628);
                height: 50px;
                font-size: 16px;
                color: #fff;
                padding: 0 20px;
                box-sizing: border-box;

                &:hover {
                    background: darken($color: rgb(179, 21, 241), $amount: 12);
                }

                &:focus {
                    background: lighten($color: rgba(81, 9, 109), $amount: 5);
                    color: #00ffc2;
                    border: none;
                }
            }

            textarea {
                position: relative;
                width: 100%;
                border: none;
                outline: none;
                background: rgba(21, 3, 29, 0.628);
                border: 1px solid #0090d4;
                height: 50px;
                font-size: 16px;
                color: #fff;
                padding: 20px;
                box-sizing: border-box;
                resize: none;
                min-height: 150px;

                &:hover {
                    background: darken($color: rgb(179, 21, 241), $amount: 12);
                }

                &:focus {
                    background: lighten($color: rgba(81, 9, 109), $amount: 5);
                    color: #00ffc2;
                    border: none;
                }
            }
        }

        .flat-button {
            color: #00ffc2;
            width: 50%;
            float: right;
            text-align: center;
            justify-content: center;
            background: 0 0;
            font-size: 11px;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 8px 10px;
            border: 1px solid #00ffc2;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                transform: scale(.98);
                border-color: #0090d4;
                background-color: #0091d442;
            }
        }
    }

    div {
        #map,
        .leaflet-container {
            position: inherit;
            display: inline-block;
            width: 100%;
            height: 80%;
        }
    }
}

input:-webkit-autofill {
    background: lighten($color: rgba(81, 9, 109), $amount: 5);
    color: #00ffc2;
    border: none;
}

input:autofill {
    background: lighten($color: rgba(81, 9, 109), $amount: 5);
    color: #00ffc2;
    border: none;
}

.info-map {
    position: absolute;
    background: #242525;
    right: 0;
    float: right;
    margin: auto;
    z-index: 1;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.25s forwards;
}

div {
    #map {
        width: 100%;
    }
}

.leaflet-container {
    width: 50%;
    height: 80%;
    top: 0;
    opacity: 0;
    margin-left: 30px;
    animation: backInRight 1s 1.2s forwards;
}

@media screen and (max-width: 1200px) {
    .contact-form {
        margin: auto;
        display: block;
        width: 100%;
    }

    .container {
        flex-direction: column;

        .map-wrap {
            display: inline;
            width: 100%;
            height: 400px;
            margin: 0;
        }

        .leaflet-container {
            margin-left: 0;
        }

        .info-map {
            position: inherit;
            display: flex;
            float: none;
            padding: auto;
            margin-bottom: 15px;
            color: rgb(255, 255, 255);
            border-radius: 4px;
        }
    }
}